<div class="container">
    <h1>Parfumerie Georgette Madelein</h1>
    <p>Welkom op de webstek van Georgette.</p>
    <p>Parfumerie Georgette Madelein, of kortweg PGM staat garant voor kwaliteit met een lekker geurtje.</p>
    <p>Wij bieden een ruim assortiment aan parfums, eau de toilette, eau de parfum, eau de cologne, eau de fraiche, eau de whatever.</p>
    <p>Wij hebben ook een ruim assortiment aan geuren voor huisdieren. Want... wie houdt er nu niet van een lekker ruikend huisdier?</p>
</div>
