<section class="auth-container login">
  <h4>Login</h4>
  {{#if flash.message}}
    <div class="alert {{ flash.type}}">
        {{ flash.message}}
    </div>
  {{/if}}
  <form method="post" action="login">
    {{#each inputs}}
      {{>form-input this}}
    {{/each}}
    <div class="footer-container">
      <div class="footer-container-left">
      <input type="submit" class="btn btn-primary" value="Login">
      </div>
      <div class="footer-container-right">
      <a href="/register">Registreer</a>
      </div>
    </div>
  </form>
</section>