<nav>
  <div class="logo">
    P.G.M. <i class="fas fa-paw"></i> 
  </div>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    <li>
      <% if (locals.user) { %>
        <a href="/dashboard">Dashboard</a>
      <% } else { %>
        <a href="/login">Webshop</a>
      <% } %>
    </li>
  </ul>
</nav>