<nav>
  <div class="logo">
    P.G.M. <i class="fas fa-paw"></i> 
  </div>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/example">Voorbeeld</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
      {{#if user}}
    <li>
      <a href="/webshop">Webshop</a>
    </li>
    <li>
      <form action="/logout" method="POST">
        <button class="logout" type="submit">Logout</button>
      </form>
    </li>
    {{else}}
    <li>
      <a href="/login">Login</a>
    </li>
    {{/if}}
  </ul>
</nav>